body {
  background-color: #EEF3FA;
}

#main-menu {
  list-style: none;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  padding-top: 10px;
}

#main-menu li {
  display: inline-block;
  position: relative;
}

#main-menu a {
  text-decoration: none;
  color: #3A15BB;
  display: block;
  padding: 0 7px;
}

#main-menu a:hover {
  background-color: #3A15BB;
  color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

#navbar-logo {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  color: #3A15BB;
  padding: 10px 7px;
}

#navbar-logo:hover {
  background-color: #3A15BB;
  color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.main-logo, .main-title {
  margin: 50px auto 0;
}

.main-logo img {
  width: 1140px;
  height: 200px;
}

.main-title {
  text-align: center;
  margin-top: 80px;
}

.main-title #easyfest {
  color: #433B95;
}

.main-title h2 {
  color: #E01E25;
  font-size: 44px;
}

.main-title h3 {
  color: #463E97;
  font-size: 40px;
}

.content-wrap {
  margin-top: 150px;
}

.content-title {
  margin: 50px auto 0;
  color: #13A543;
}

.content-title h2 {
  font-size: 40px;
}

.content-reasons {
  color: #3A15BB;
  text-align: center;
  padding-top: 135px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.content-reasons h4 {
  line-height: 30px;
}

.content-reasons.dynamic {
  background-image: url(../img/clocks.png);
}

.content-reasons.variety {
  background-image: url(../img/world_variety.png);
}

.content-reasons span {
  color: #F49C00;
}

.content-expln {
  margin-top: 30px;
  color: #3A15BB;
  font-size: 20px;
  margin-top: 50px;
  float: right;
}

.content-expln p {
  display: inline-block;
  margin-left: 60px;
}

.directions h1 {
  margin: 70px auto 50px;
  color: green;
}

.directions-item {
  float: left;
  position: relative;
  margin-right: 150px;
  margin-bottom: 30px;
}

.directions-item-icon {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: blue;
}

.directions-item-title {
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: white;
  padding: 5px 40px;
  margin-left: 20px;
  z-index: -100;
  -webkit-border-bottom-right-radius: 20px;
          border-bottom-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  color: blue;
  font-weight: bold;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.violet {
  background-color: violet;
}

.program h1 {
  margin: 70px auto 50px;
  color: green;
  margin-bottom: 120px;
}

.program-menu {
  font-size: 27px;
  color: blue;
  font-weight: bold;
}

.program img {
  margin-left: 300px;
}

.contacts-title {
  margin: 70px auto;
  color: green;
}

.contacts-description {
  color: blue;
  text-align: center;
  font-weight: bold;
}

.contacts-img {
  width: 100%;
}

.contacts-link {
  display: block;
  text-align: center;
  color: blue;
  font-size: 20px;
  font-weight: bold;
}

.contacts-link:hover {
  text-decoration: none;
}

.partners-title {
  margin: 70px auto 50px;
  color: green;
  margin-bottom: 120px;
}

.partners img {
  margin: 30px auto;
}

.inviting-title {
  margin: 70px auto 50px;
  color: green;
  margin-bottom: 120px;
}

.inviting-description {
  margin-left: 70px;
  font-size: 30px;
  color: blue;
}

.inviting-subtitle {
  color: green;
  margin-left: 70px;
  text-align: center;
}

.inviting-text {
  margin-left: 70px;
  font-size: 20px;
  color: blue;
}

footer {
  background-color: darkviolet;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}

footer .address {
  float: right;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}
